/* app css stylesheet */
* {
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu {
    position: relative;
    list-style: none;
    /*border-bottom: 0.1em solid black;*/
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.tabs-container{
    width: 100%;
}

.menu > li {
    width: 100px;
    display: inline;
    margin: 5px 0px;
}

.menu > li:before {
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.tumbler-image-container {
    padding-bottom: 20px;
}

.tumbler-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.tumbler-image:hover {
    padding: 2px;
}
.info-container-page2{
    max-width: 512px;
    margin: 0 auto;
}

.user-avater{
    border: 1px solid white;
}
.user-avater:hover {
    border: 1px solid black;
}
.blog-name{
    font-weight: bold;
    font-size: large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.project-title{
    text-align: center;
}

.page2-view{
    width: 100%;
}
.text-container-page-2{
    margin: 0 auto;
    width:256px;
}

.post-title{
    margin: 5px 0px;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.post-info{
    text-align: center;
    margin: 10px 0px;

}
